name: code analysis

on:
  push:
    branches: [ 'master' ]
    tags: [ 'v*.*.*' ]
  # SonarCloud free tier doesn't support PR analysis
  # pull_request:
  #  branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results

env:
  SONAR_URL: https://sonarcloud.io
  SONAR_PROJECTKEY: ${{ github.repository_owner }}_bgg-api
  SONAR_ORGANIZATION: ${{ github.repository_owner }}

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v6
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 24
          cache: maven

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn --batch-mode verify sonar:sonar -Dsonar.host.url=${{ env.SONAR_URL }} -Dsonar.projectKey=${{ env.SONAR_PROJECTKEY }} -Dsonar.organization=${{ env.SONAR_ORGANIZATION }}
